#datetime {
  text-align: center;
}

#datetime h1 {
  font-size: 6.1em;
}

#datetime h2 {
  font-size: 2.6em;
}

#forecast ul li {
  font-size: 3.5em;
  text-align: center;
}

#forestcast ul li h3 {
  font-size: 1.4em;
}

#forecast ul li .today h3 {
  font-size: 1.6em;
}

#actionbar {
  position: absolute;
  bottom: 0.5em;
  right: 1.0em;
}

#actionbar a {
  font-size: 2.2em;
  color: #000;
}
